--extra-index-url https://artefact.skao.int/repository/pypi-internal/simple
backoff
typing_extensions
numpy
jsonschema == 3.2.0
git+https://gitlab.com/ska-telescope/ska-tango-base.git@st-1732-pytango-patch
ska-ser-logging
ska-ser-log-transactions
pytango == 9.4.2
pytest-pydocstyle == 2.2.0
pytest-pycodestyle == 2.2.0
pytest == 6.2.5
pytest-bdd
pytest-cov
pytest-forked
pytest-json-report
pytest-mock
pytest-xdist
pytest-repeat
pytest-pylint
pyyaml
scp
paramiko
pylint == 2.15.5
influxdb-client
multidict
yarl
aiohttp
aiocsv
requests == 2.26.0
